# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. Pandas

| Data Science Tools |
| :----------------: |
| Anaconda |
| Visual Studio |
| Unix Shell |
| Git |

In [4]:
%%html
<style>
table {float:left}
</style>

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
(3*4)+5

17

In [19]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

# Objectives:
- Pyhon
- R
- Julia
- Java
- SQL

## Author
Omar